<footer id="footer">
    <h1 class="logo">
      <a href=" "><img src="/image/logo2.gif" alt=" 로고"> </a>
    </h1>
    <ul class="menu">
      <li><a href=" ">채용안내</a></li>
      <li><a href=" ">이용약관</a></li>
      <li><a href=" ">개인정보취급방침</a></li>
      <li><a href=" ">1:1문의</a></li>
      <li><a href=" ">기업문의</a></li>
      <li><a href=" ">찾아오시는길</a></li>
    </ul>
    <p class="info">Mpang㈜ 대표이사 : 정XX, 개인정보 관리 책임자 : X재표, 사업자등록번호:123-45-6789</p>
    <address>서울특별시 강서구 염창동 강서쌍용예가 고객지원 1234-1234 평일 상담시간 : 8:00~20:00 휴일 상담시간 : 9:00~18:00(휴일 점심시간 12:00~13:00 제외)</address>
    <p class="copyright">Copyright&copy; 2018 MPANG. All right reserved. Contact webmaster for more information</p>
  </footer>	